swagger: "2.0"
info:
  description: "API to store images with descriptive word and hint."
  version: "1.0.0"
  title: "Photo Freeze"
host: "us-central1-photofreeze-9f175.cloudfunctions.net"
tags:
- name: "images"
  description: "Store and retrieve image information"
schemes:
- "http"
paths:
  /images:
    get:
        tags:
        - "images"
        summary: "Retrieves all images in the database"
        produces:
        - "application/json"
        responses:
          200:
            description: "successful operation"
            schema:
              type: "array"
              items:
                $ref: "#/definitions/Image"
          500:
            description: "Error"
    post:
      tags:
      - "images"
      summary: "Add a new image"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Image that needs to be saved"
        required: true
        schema:
          $ref: "#/definitions/Image"
      responses:
        201:
          description: "Created"
        500:
          description: "Error"
  /images/{imageId}:
    get:
      tags:
      - "images"
      summary: "Get the information for a specific image"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Image"
        500:
          description: "Error"
    post:
      tags:
      - "images"
      summary: "Updates the guess attempts for a specific image"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "imageId"
        in: "path"
        description: "ID of image that needs to be updated"
        required: true
        type: "string"
      responses:
        200:
          description: "Successfully updated"
        500:
          description: "Error"
definitions:
  Image:
    type: "object"
    properties:
      id:
        type: "string"
      img:
        type: "string"
        format: "base64"
      description:
        type: "string"
      hint:
        type: "string"
      attempts:
        type: "object"
        properties:
          correct:
            type: "integer"
          incorrect:
            type: "integer"